<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/Favicon1.ico" type="image/x-icon">
    <meta name="keywords" content="HTML,video,audio">
    <link rel="stylesheet" href="../static/styles/contacto.css">
    <title>Document</title>
</head>
<!--head(foto fondo),nav,sidebar, fotos (fotofondo), footer
-->
<body>
    <header>
        <nav>
            <a href="../index.html"> Inicio</a>
            <a href="nosotros.html"> Nosotros</a>
            <a href="equipos.html"> Equipos</a>
            <a href="salidas.html"> Salidas</a>
            <a href="contacto.html"> Contacto</a>
        </nav>
    </header>
    <!-- Contenido-->
     <main>
        <section>
            <!--Incorporo Mapa-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d410.80964771945713!2d-58.46319271406367!3d-34.54147163548856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb42000e2cbaf%3A0x18cda80c5d8507ec!2sASA%20Buceo!5e0!3m2!1ses!2sar!4v1720376412827!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>  
        
        <section>
            <!--Incorporo Video Publicitario-->
            <iframe width="600" height="450" src="https://www.youtube.com/embed/oT-7Mg1Rp-8?si=xSWGLuzUEEvKsVBy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
    </main>   





</body>
</html>