/*Para el encabezado*/

/*Selector Universal*/
* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


h1 {
    color: #BC5A94;
    font-size: 4vw;
}

header {
    background-image: url("../img/FondoBuceo2.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    max-width: 100%;
    height: 15vw;

    filter: brightness(65%);
    font-size: 2vw;
    color: white;

}

.header-linea {
    display: inline-block;
    margin-right: 5vw;

}

#logo {
    margin-top: 2vw;
    width: 13vw;
    height: 10vw;
    border-radius: 50% 50% 50% 50%;
    margin-left: 0cm;
}

.FondoBuceo {
    background-image: linear-gradient(rbga (0, 0, 0, 1), rbga (0, 0, 0, 1));
    background: url("../img/FondoBuceo.jpg") no-repeat center;
    background-size: cover;
    position: relative;

}

h2 {
    color: #5a08cd;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: black;
    height: 10vw;
    font-size: 2vw;
    color: aquamarine;
    text-align: center;
}

.texto-pie {
    padding-top: 3vw;
    font-size: 2vw;
}

.d4 {
    background-image: url('../img/Buceo1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 700vw;
    height: 20;
    margin-left: 0vw;

    /*Animacion*/
    animation-name: cambiar;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

/*Cambia la imagen quieta por 0=0 left/top.*/
@keyframes cambiar {
    0% {
        background-image: url('../img/Buceo1.jpg');
        left: 0vw;
        top: 0vh;
    }

    25% {
        background-image: url('../img/Buceo2.jfif');
        left: 0vw;
        top: 0vh;
    }

    50% {
        background-image: url('../img/Buceo3.jfif');
        left: 0vw;
        top: 0vh;
    }

    100% {
        background-image: url('../img/buceo4.webp');
        left: 0vw;
        top: 0vh;
    }
}